@media all and (max-width: 1000px){
	header{
		padding-left: 20px;
		padding-right: 20px;
	}

	.container h1 {
		font-size: 25px;
	}

	.container h2 {
		font-size: 20px
	}

	.contents-item {
		width: 45%;
	}

}

@media all and (max-width: 670px){
	.container h1 {
		font-size: 25px;
	}

	.container h2 {
		font-size: 20px
	}

	.heading h3{
		font-size: 15px;
	}

	.header-right {
    	display: none;
  	}

	.menu-icon {
	    display: block;
	  }

	.contents-item {
		width: 100%;
	}
}
