* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.header-right a {
	text-decoration: none;
}

.fa {
	margin-right: 5px;
}
/** header */

header {
	height: 70px;
	width: 100%;
	background-color: rgba(226, 190, 69, 0.9);
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.header-left {
	float: left;
}

.header-left img {
	width: 70%;
	height: 70%;
}

.logo {
	float: left;
	margin-top: 10px;
}

.header-right {
	float: right;
	padding: 10px 0;
}

.header-right a {
	line-height: 50px;
	padding: 0 25px;
	color: rgba(34, 49, 52, 0.9);
	float: left;
	display: block;
	border-radius: 50px;
	transition: all 0.5s;
}

.header-right a:hover {
	background-color: #FFCE00;
	border-radius: 50px;
}

/** end header */

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url('gambar/dor.jpg');
	height: 600px;
	background-size: cover;
	color: white;
	text-align: center
}

.container h1 {
	padding: 12px 0;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	color:black;
}

.container .cek {
	margin-top: 10px;
}

.container h2 {
	text-align: center;
	padding: 12px 0;
	color:white;
	background-color: rgba(34, 49, 52, 0.9);
	border-radius: 4px;
	width: 230px;
	margin:auto;
}

.heading {
  padding-top: 50px;
  padding-bottom: 15px;
  border-bottom: 3px solid #FFCE00;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading h3 {
  font-weight: normal;
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contents {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.sub-contents{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	/* height: 800px */
}

.contents-item{
	/* display: flex;
	justify-content: space-between; */
	float: left;
	margin-left: 20px;
	width: 30%;
	margin-bottom: 20px;
}

.contents-item img {
	height: 250px;
	/* width: 330px; */
	width: 100%; 
	/* padding: 0 10px; */
	/* display: flex;
	justify-content: space-evenly; */
	
}
	
.contents-item p:hover {
	background-color: #FFCE00;
	border-radius: 50px;
}

.contents-item p{
	font-size: 18px;
	margin-top: 3px;
	font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
	padding: 5px;
	text-align: center;
	transition: all 0.8s;
}

.contents-item a{
	font-size: 18px;
	margin-top: 3px;
	font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: #808080;
	width: 330px;
}
/** menu icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.contents-item input{
	border: 1px solid #dee7ec;
	width:200px;
	margin:10;
	padding:10px;
	position: relative;
	transform: translateY(-60%);
	transform: translateX(20%);
}

.contact-form{
	text-align: center;
}

input{
	width:200px;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	font-size:12px;
	border: 1px solid #dee7ec;
	
  }

/** modal */
.modal:before {
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
  }
  .modal:target:before {
	display: block;
  }
  .modal:target .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	top: 20%;
  }
  .modal-dialog {
	background: #fefefe;
	border: #333 solid 1px;
	border-radius: 5px;
	margin-left: -200px;
	position: fixed;
	left: 50%;
	top: -100%;
	z-index: 11;
	width: 360px;
	-webkit-transform: translate(0, -500%);
	-ms-transform: translate(0, -500%);
	transform: translate(0, -500%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
  }
  .modal-body {
	padding: 20px;
  }
  .modal-header,
  .modal-footer {
	padding: 10px 20px;
  }
  .modal-header {
	border-bottom: #eee solid 1px;
  }
  .modal-header h2 {
	font-size: 20px;
  }
  .modal-footer {
	border-top: #eee solid 1px;
	text-align: right;
  }
  /*ADDED TO STOP SCROLLING TO TOP*/
  #close {
	display: none;
  }
  .btn1 {
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-color: #00FF7F;
	border: 2px solid #fff;
	border-radius: 0.6em;
	color:#fff;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 50px;
	line-height: 1;
	margin: 10px;
	padding: 10px 10px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	transform: translateX(170%)
  }
  .btn1:hover, .btn1:focus {
	color: #00BFFF;
	outline: 0;
  }

/* footer */

.footer {
	background-color: #f1b307;
	color: #fff;
	height: 200px;
	width: 100%;
	padding: 40px 40px;
	
}
  
.footer-logo img {
	font-size: 32px;
	float: left;
	width: 20%;
	height: 75%;
}
  
.footer-list {
	float: right;
}
  

.footer-list li {
	padding: 12px 12px;
	list-style: none;
	transition: all 1s;
	cursor: pointer;
}

.footer-list li:hover {
	background-color: #e7daa6;
	/* border-radius: 50px; */
}
